body {
    font-family: Arial, Helvetica, sans-serif;
}

.graph-container {
    width: 1000px;
    height: 600px;
    margin: auto;
}

header {
    margin-top: 1.5em;
    text-align: center;
}

h1, h2 {
    margin: 0;
    font-weight: 500;
}

#legend {
    width: 200px;
    height: 100px;
    background-color: coral;
}
